.result-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  /* overflow-y: scroll; */
  height: 80rem;
  margin: 3rem auto;
  text-overflow: ellipsis;
}

.result-container::-webkit-scrollbar{
  width:3px
}
.result-container::-webkit-scrollbar-track{
  width:3px;
  background: #007090;
}
.result-container::-webkit-scrollbar-thumb{
  background: whitesmoke;
}
.result-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
    text-overflow: ellipsis;
}

.result-list > img{
  margin-right: 10px;
  margin-top: 10px;
  width: 60px;
  align-items: flex-start;
  display: flex;
  height: 60px;
  border-radius:50%;
}


.result-title{
  font-size: 19px;
  display: block;
  color: black;
}
.result-description{
  font-size:18px;
  font-weight: 500;
  display: block;
  color: #000;
  /*color: gainsboro;*/
}
.result-post-timing,.post-user-name{
  color: gray;
  font-size: 11px;
  padding-right: 10px;
}
.post-user-name{
  font-weight: 600;
  font-size:13px;
  color: grey;
}